
.header{
    background-color: #076AF0;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.nav-link{
    color: white;
    text-decoration: none;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
}

.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
    line-height: 80px;
}

.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
}

.nav-menu-link{
    padding: 8px 12px;
    border-radius: 10px;
}

.nav-menu-link:hover{
    background-color: #024070;
    padding: 8px 12px;
    border-radius: 10px;
    transition: 0.5s;
}


